@font-face {
  font-family: "Google Sans";
  src: url("fonts/google-sans-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("fonts/google-sans-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("fonts/google-sans-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Google Sans", sans-serif;
  color: #292929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 2rem;
  max-width: 1200px;
  position: relative;
  overflow: visible;
}

h1 {
  font-family: "Englebert", sans-serif;
  font-weight: 400;
  font-size: 128px;
  line-height: 82%;
  letter-spacing: 0;
  margin-bottom: 2rem;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

h1 .red-text {
  color: #dc0005;
}

.star {
  position: absolute;
  top: -14px;
  right: 220px;
  width: 40px;
  height: 40px;
}

.description {
  font-size: 24px;
  color: #5f5f5f;
  font-weight: 400;
  max-width: 345px;
  margin: 40px auto 5px auto;
}

.launching-soon {
  font-family: "Englebert", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.logo {
  margin-top: 40px;
  width: 200px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  backface-visibility: hidden;
  transform: translateZ(0);
}

.orbit-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -88%);
  width: 530px;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

.orbit-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -169%);
  width: 600px;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .description {
    font-size: 20px;
  }

  .launching-soon {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .star {
    position: absolute;
    top: -20px;
    right: 155px;
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 94px;
    max-width: 600px;
  }

  .description {
    font-size: 18px;
    margin: 40px auto;
    max-width: 300px;
  }

  .launching-soon {
    font-size: 28px;
  }

  .orbit-left,
  .orbit-right {
    width: 500px;
  }

  /* .orbit-left {
    transform: translate(-75%, -50%);
  }

  .orbit-right {
    transform: translate(-25%, -50%);
  } */
}

@media (max-width: 480px) {
  h1 {
    font-size: 58px;
    max-width: 300px;
  }
  .star {
    top: -10px;
    right: 50px;
    width: 20px;
    height: 20px;
  }

  .orbit-left,
  .orbit-right {
    width: 270px;
  }

  .orbit-left {
    transform: translate(-53%, -130%);
  }

  .orbit-right {
    transform: translate(-55%, -270%);
  }

  .logo {
    width: 160px;
  }
}
